<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-buttons>
  <ion-title>Détails de la tâche</ion-title>
</ion-toolbar>
</ion-header>
<ion-card>
  <ion-card-content class="w-75 p-3">
    <p>{{ task.title }}</p>
            
    <ion-range
            [(ngModel)]="task.status" 
            min="0" 
            max="100" 
            step="1" 
            snaps="true" 
            (ionChange)="updateProgress()">
            <ion-label slot="start">0%</ion-label>
            <ion-label slot="end">100%</ion-label>
          </ion-range>

    <p>Status : {{ getStatusText() }}</p>
  </ion-card-content>
</ion-card>